@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --background-card: oklch(0.442 0.017 285.786);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-background-card: var(--background-card);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --background-card: oklch(0.442 0.017 285.786);
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}


::-webkit-scrollbar {
  width:6px;
  height:6px;
}

::-webkit-scrollbar-track {
  background: var(--background-dark);
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background: var(--background-card);
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--background-light);
  border-radius: 5px;
}
